@import "_intellisound-vars";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

.hero {
  position: absolute;
  top: 10%;
  width: 100%;
  background-color: transparent;
}

.title {
  font-family: $family-serif;
}

.subtitle {
  font-family: $family-sans-serif;
}

.hero .hero-body .container {
  color: $color-primary;
}

body > div > div > div > div > div > section.hero.is-medium.is-bold > div > div > h1, body > div > div > div > div > div > section.hero.is-medium.is-bold > div > div > h2 {
  color: $color-primary;
}

.tryBtn {
  font-family: $family-sans-serif;
}
