@import "_intellisound-vars";

.hero {
  background-color: $white;
  color: $color-primary;
}

.hero .hero-body .container {
  color: $color-primary;
}

body > div > div > div > div > div > section.hero.is-medium.is-bold > div > div > h1, body > div > div > div > div > div > section.hero.is-medium.is-bold > div > div > h2 {
  color: $color-primary;

}