@import "_intellisound-vars";

// *{
//   outline: $color-primary dotted 2px;
// }

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-white {
  color: $white;
}

.color-gray {
  color: $gray;
}

.color-dark {
  color: $very-dark-blue;
}
