@import "_intellisound-vars";

.navigation .navbar-menu .navbar-end .navbar-item {
  color: $color-primary;
  font-family: $family-sans-serif;
}

.schoger-border {
  border-top: 6px solid $color-secondary;
}

