@import "_intellisound-vars";

.navigation {
  background-color: $primary;
}

.navbar-items {
  color: $color-primary;
}

.navigation .navbar-menu .navbar-end .navbar-item {
  color: $color-primary;

}