@import "_intellisound-vars";

.auth-form {
  font-family: $family-sans-serif;
  padding: 3em;
  background-color: $white;
  opacity: 0.8;
  position: fixed;
  top: 50%;
  border-top: 6px solid $color-secondary;
  border-radius: 2%;
}

form {
  padding: 2em;
}

body > div > div > div > div > div.layout-default > section > div > div > div > article > div > form > input {
  font-family: $family-sans-serif;
}

body > div > div > div > div:nth-child(1) > div.layout-default > section > div > div > div > article > div > form > button {
  background: linear-gradient( hsl(217, 75%, 60%),  hsl(231, 75%, 60%));
  // background-color: hsl(217, 75%, 60%);
  font-family: $family-sans-serif;
}
body > div > div > div > div:nth-child(1) > div.layout-default > section > div > div > div > article > div > form > button:hover {
  position: relative; 
  bottom: 1px;
  padding-bottom: 1px
} 

